.sidenav{
	background-color: #26a69a;
	height:100%;
	color : white;
}

.channelItem .md-list-item-text {
	padding-right: 55px;
}
.itemHeader{
	background-color: #26a69a !important;

}

.itemCard{
	/*background-color: #a7ffeb;*/
}